    def {{ request.operation_id }}(self{% if request.parameters %}, {% endif %}{% for p in request.parameters %}{{ p.name.replace('.', '_') }}{% if not p.required %}=None{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}):
        """{{ request.summary }}{%- if not request.summary.endswith('.') -%}.{%- endif %}

        {% if request.description -%}
        {{ request.description }}{%- if not request.description.endswith('.') -%}.{%- endif %}
        {%- endif %}

        {% if request.parameters -%}
        Parameters
        ----------
        {%- for p in request.parameters %}
        {{ p.name.replace('.', '_') }}: {{ p.schema.complete_type }}{% if not p.required %}, optional{% endif %}
            {{ p.description }}{%- if p.example -%} Example: {{ p.example }}.{%- endif %}
        {%- endfor -%}
        {%- endif %}

        Notes
        -----
        For more information, see: `here <{{ request.external_docs }}>`__.
        
        Returns
        -------
        response: Response
            The response object of the request.
        """
        params, query = {}, {}
        {% for p in request.parameters %}
        {%- if p.in_ == 'path' -%}
        if {{ p.name.replace('.', '_') }} is not None:
            params['{{ p.name }}'] = {{ p.name.replace('.', '_') }}
        {% endif -%}
        {%- endfor -%}
        {% for p in request.parameters %}
        {%- if p.in_ == 'query' -%}
        if {{ p.name.replace('.', '_') }} is not None:
            query['{{ p.name }}'] = {{ p.name.replace('.', '_') }}
        {% endif -%}
        {%- endfor -%}
        r = self.client.request('{{ path }}', method='{{ request.method }}', query=query, params=params)
        content_type = r.headers.get('content-type')
        {% for response in request.responses -%}
        {%- if response.status_code != 'default' -%}
        if r.status_code == {{ response.status_code }}:
            {% for content_type in response.content -%}
            if content_type == '{{ content_type }}':
                {% if response.content[content_type].name == 'Error' -%}
                raise TwitterError(message='{{ response.description }}')
                {%- elif response.content[content_type].name == 'Problem' -%}
                raise TwitterProblem(message='{{ response.description }}')
                {%- else -%}
                return Response(data=r.json(), message='{{ response.description }}') {# {{ response.content[content_type].name }} #}
                {%- endif %}
            {%- endfor -%}
        {%- else %}
        else:
        {%- for content_type in response.content %}
            if content_type == '{{ content_type }}':
                {% if response.content[content_type].name == 'Error' -%}
                raise TwitterError(message='{{ response.description }}')
                {%- elif response.content[content_type].name == 'Problem' -%}
                raise TwitterProblem(message='{{ response.description }}')
                {%- else -%}
                return Response(data=r.json(), message='{{ response.description }}') {# {{ response.content[content_type].name }} #}
                {%- endif -%}
        {% endfor -%}
        {%- endif -%}
        {%- endfor %}
        raise TwitterException()
